/* The navigation bar */
#nav-bar {
  background-color: #00a087;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 80px; /* 80 pixels in height */
  color: #e8fdff; /* default font color */
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0px;
  padding-bottom: : 0px;
  z-index: 1;
}

#nav-bar .logo {
  width: 80px;
  height: 80px;
  float: left;
}

#nav-bar .header {
  float: left;
  font-size: 2em;
  line-height: 2.5;
  margin-left: 10px;
}

#nav-bar .button{
  float: right;
  margin: 10px;
  height: 60px;
  width: 100px;
  border: 1px solid black;
  border-radius: 5px;
  opacity: 0.6;
}

#nav-bar .button:hover {
  opacity: 1;
}

